@charset "UTF-8";

        body {
            background-color: rgb(193, 177, 250);
            font-family: Arial, Helvetica, sans-serif;}

        h1 {
            color:rgb(231, 190, 236);
            background-color: rgb(179, 214, 255);
        }

        h2 {
            color: rgb(231, 190, 236);
        }
        p {
            color: antiquewhite;
        }